DB_HOST=localhost
DB_PORT=5432
DB_USER=postgres
DB_PASS=postgres
DB_NAME=chromaspace
DB_SYNC=true

KAFKA_CLIENT_ID=chat-service
KAFKA_BROKERS=localhost:9092
KAFKA_TOPIC=chat-messages
KAFKA_GROUP_ID=chat-service-group
KAFKAJS_NO_PARTITIONER_WARNING=1

PORT=3000

REDIS_HOST=localhost
REDIS_PORT=6379